body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width:calc(100vw - 4em);
    height:95vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
#calculator {
    display: grid;
    height: 500px;
    width: 400px;
    background-color: firebrick;
    border: 12px solid firebrick;
    border-radius: 4px;
}

#screen {
    display: grid;
    grid-column: span 4;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(202, 192, 178);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#history{
    min-height: 40px;
    font-size: 20px;
    grid-row: 1/1;
}

#display {
    grid-row: 1fr;
    min-height: 25px;
    max-height: 25px;
    font-size: 3em;
    padding: 0 5px;
    margin: 0;
}


#calcbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.top {
    background-color: antiquewhite;
}

.operator {
    background-color: beige;
}

#equal {
    background-color: beige;
}
.numpad{
    background-color: darkgray;
}

#decimal {
    background-color: darkgray;
}


#zero {
    grid-column: span 2;
}

footer {
    height: 40px;
    padding: 0;
}